.item__producto {
    padding:20px;
}


.container__main {
    display: flex;
    width:85vw;
    align-items: center;
}


.img-producto {
    margin-top: 25px;
    width:300px;
}

.title__producto{
    font-weight: bold;
}

.descripcion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #5e5a5d;
    height: 80px;
    margin:0;
}

.div-check{
    margin: 0;
}

.desc{
    margin-top:10px;
    margin-bottom:10px;
}
.price{
    margin-bottom: 10px;
}

.container-btn{
    margin: 0;
}

.btn-car{
    width:80px;
    height:60px;
    font-size:0.7rem;
    text-align: center;
    font-weight: bold;
}

.price-new{
    font-size:0.9rem;
}

.tituloprincipal{
    font-size: 1.1rem;
}

.subtitulo{
    font-size:0.9rem;
}

.parrafo{
    font-size:0.8rem;
}

.img-footer{
    width:70px;
    height:70px;
}
.ktm{
    font-size:0.8rem;
}

.item__link{
    margin-right:15px;
}

.container-redes{
    padding:0;
}
.fa-brands{
    font-size:1.2rem;
}

.contantainer-footer{
    padding-bottom: 0px;
}
.container__metodo-pago{
    padding:0;
    width:25%;
}

.tituloprincipal{
    margin:0;
    margin-bottom:5px;
}

.p-f{
    margin:0;
}