.item__producto {
    padding:20px;
}


.container__main {
    display: flex;
    width:85vw;
    align-items: center;
}


.img-producto {
    margin-top: 25px;
    width:250px;
}

.descripcion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #5e5a5d;
    height: 80px;
}

.desc{
    margin-top:10px;
    margin-bottom:10px;
}
.price{
    margin-bottom: 10px;
}

.btn-car{
    width:100px;
}

.price-new{
    font-size:0.9rem;
}

.tituloprincipal{
    font-size: 1.1rem;
}

.subtitulo{
    font-size:0.9rem;
}

.parrafo{
    font-size:0.8rem;
}