:root {
    --colorprimario: #8ee9cc;
    --subcolorprimario: #abd1c5;
    --colorsecundario: rgb(184, 133, 206);
    --subcolorsecundario: rgb(198, 168, 211);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: rgb(241, 243, 244);

}

.container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    margin-top:250px;
}

.logo {
    width:150px;
    height:120px;
}

.title__header {
    font-weight: bold;
    font-size:2.3rem;
    color: var(--colorprimario);
    text-shadow: 1.5px 1.5px #9a9999;
    width: 320px;
    text-align: center;
    
}

.title__header::first-letter {
    color: var(--colorsecundario);
    font-size: 2.5rem;
}

.GO {
    font-size: 2rem;
    color: var(--colorprimario);
    text-shadow: 2px 2px rgb(175, 171, 171);
    font-weight: bold;
    margin-left: 3px;
}

.bi {
    color: var(--colorprimario);
}

.btn__play {
    border: 3px var(--colorsecundario) solid;
    border-radius: 0.5rem;
    display: flex;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.btn__play:active {
    background-color: #4b4949;
}

.title-form {
    color: #939191;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 7px var(--colorprimario) solid;
    border-radius: 10px;
    margin: 2rem;
    margin-top: 0px;
    padding:60px;
    -webkit-box-shadow: 5px 5px 5px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
    box-shadow: 7px 7px 7px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
}

.btn-form {
    margin-top: 10px;
    width: 50%;
}

.description {
    margin-bottom:0.7rem;
    text-align: center;
    font-size:1.3rem;
    font-weight: bold;
    color: var(--colorsecundario);
    text-shadow: 1px 1px rgb(129, 127, 127);
}

.input{
    width:170px;
    height:60px;
    border:3px var(--subcolorsecundario) solid;
    border-radius:5px;
    color: var(--colorsecundario);
}

.input:hover{
    background-color:rgb(225, 221, 221);
}

.btn-form{
    margin-top:1rem;
    width:90px;
    background-color:transparent;
    color: var(--colorsecundario);
    font-weight: bold;
    border:2px var(--colorprimario) solid;
    border-radius:5px;
    height:50px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}