:root {
    --colorprimario: #8ee9cc;
    --subcolorprimario: #abd1c5;
    --colorsecundario: rgb(184, 133, 206);
    --subcolorsecundario: rgb(198, 168, 211);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: rgb(241, 243, 244);

}

.container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    margin-top: 250px;
}

.logo {
    width: 150px;
    height: 120px;

}

.title__header {
    font-weight: bold;
    font-size: 2.3rem;
    color: var(--colorprimario);
    text-shadow: 1.5px 1.5px #9a9999;
    width: 320px;
    text-align: center;
    width: 100%;
}

.title__header::first-letter {
    color: var(--colorsecundario);
    font-size: 2.5rem;
}

.GO {
    font-size: 2rem;
    color: var(--colorprimario);
    text-shadow: 2px 2px rgb(175, 171, 171);
    font-weight: bold;
    margin-left: 3px;
}

.bi {
    color: var(--colorprimario);
}

.btn__play {
    border: 3px var(--colorsecundario) solid;
    border-radius: 0.5rem;
    display: flex;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.btn__play:active {
    background-color: #4b4949;
}

.title-form {
    color: #939191;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 7px var(--colorprimario) solid;
    border-radius: 10px;
    margin: 2rem;
    margin-top: 0px;
    padding: 35px;
    -webkit-box-shadow: 5px 5px 5px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
    box-shadow: 7px 7px 7px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
}

.btn-form {
    margin-top: 10px;
    width: 50%;
}


.description {
    width: 100%;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--colorsecundario);
    text-shadow: 1px 1px rgb(129, 127, 127);
}

.input {
    width: 80%;
    height: 60px;
    border: 3px var(--subcolorsecundario) solid;
    border-radius: 5px;
    color: var(--colorsecundario);
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.input:hover {
    background-color: rgb(225, 221, 221);
}

.btn-form {
    margin-top: 1rem;
    width: 50%;
    background-color: transparent;
    color: var(--colorsecundario);
    font-weight: bold;
    border: 2px var(--colorprimario) solid;
    border-radius: 5px;
    height: 50px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.flecha {
    display: none;
    flex-direction: column;
    align-items: center;
    color: #b5b3b3;
}

.text-result {
    font-size: 1.4rem;
    text-shadow: 1px 1px rgb(28, 28, 28);
}

.fa-solid {
    font-size: 1.3rem;
    text-shadow: 1px 1px rgb(28, 28, 28);
}

.resume-input {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
    color: #aba5a5;
    text-shadow: 1px 1px black;
}

.container-result {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.item__result-mediana {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 130px;
    border: 4px var(--subcolorprimario) solid;
    border-radius: 10px;
    padding: 10px;
    color: var(--colorprimario);
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.item__result-moda {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 130px;
    border: 4px var(--subcolorsecundario) solid;
    padding: 10px;
    color: var(--colorsecundario);
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.result-text {
    width: 100%;
    text-shadow: 1px 1px black;
}

.fa-arrows-down-to-people {
    text-shadow: 1px 1px black;
}

.resultado-moda-text {
    width: 100%;
    text-shadow: 1px 1px black;
}

.result-mediana {
    margin-top: 12px;
    text-shadow: 1px 1px rgb(81, 80, 80);
}

.result-moda {
    margin-top: 12px;
    text-shadow: 1px 1px rgb(81, 80, 80);
}

