:root {
    --colorprimario: #8ee9cc;
    --subcolorprimario: #abd1c5;
    --colorsecundario: rgb(184, 133, 206);
    --subcolorsecundario: rgb(198, 168, 211);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: rgb(241, 243, 244);

}

.container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    margin-top:80px;
}

.logo {
    width: 150px;
    height: 120px;

}

.title__header {
    font-weight: bold;
    font-size: 2.3rem;
    color: var(--colorprimario);
    text-shadow: 1.5px 1.5px #9a9999;
    width: 320px;
    text-align: center;
    width: 100%;
}

.title__header::first-letter {
    color: var(--colorsecundario);
    font-size: 2.5rem;
}

.GO {
    font-size: 2rem;
    color: var(--colorprimario);
    text-shadow: 2px 2px rgb(175, 171, 171);
    font-weight: bold;
    margin-left: 3px;
}

.bi {
    color: var(--colorprimario);
}

.btn__play {
    border: 3px var(--colorsecundario) solid;
    border-radius: 0.5rem;
    display: flex;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.btn__play:active {
    background-color: #4b4949;
}

.title-form {
    color: #939191;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 7px var(--colorprimario) solid;
    border-radius: 10px;
    margin: 2rem;
    margin-top: 0px;
    padding: 35px;
    -webkit-box-shadow: 5px 5px 5px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
    box-shadow: 7px 7px 7px 0px var(--colorsecundario), inset 4px 4px 5px 0px var(--subcolorsecundario), -1px -2px 5px -5px var(--subcolorsecundario);
}

.btn-form {
    margin-top: 10px;
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.description {
    width: 100%;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--colorsecundario);
    text-shadow: 1px 1px rgb(129, 127, 127);
}

.input {
    width:100%;
    height:80px;
    font-size:1.1rem;
    font-weight: bold;
    border: 3px var(--subcolorsecundario) solid;
    border-radius: 5px;
    color: var(--colorsecundario);
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.input:hover {
    background-color: rgb(233, 232, 232);
}

.btn-form {
    width:120px;
    background-color: transparent;
    color: var(--colorsecundario);
    font-weight: bold;
    border: 2px var(--colorprimario) solid;
    border-radius: 5px;
    height:60px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}


.text-result {
    font-size: 1.4rem;
    text-shadow: 1px 1px rgb(28, 28, 28);
}

.fa-solid {
    font-size: 1.3rem;
    text-shadow: 1px 1px rgb(28, 28, 28);
}

.resume-input {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
    color: #aba5a5;
    text-shadow: 1px 1px black;
}

.container-result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.item__result-mediana {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
    height: 130px;
    border: 4px var(--subcolorprimario) solid;
    border-radius: 10px;
    padding: 5px;
    color: var(--colorprimario);
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.item__result-moda {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
    height: 130px;
    border: 4px var(--subcolorsecundario) solid;
    padding: 5px;
    color: var(--colorsecundario);
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.item__result-prom {
    margin-left: 10px;
    margin-top:20px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 130px;
    border-left: 4px var(--subcolorsecundario) solid;
    border-right: 4px var(--subcolorprimario) solid;
    border-bottom: 4px var(--subcolorsecundario) solid;
    border-top: 4px var(--subcolorprimario) solid;
    padding: 5px;
    color: var(--colorsecundario);
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #5c5b5b, 5px 5px 10px 5px rgba(29, 104, 126, 0);
    box-shadow: 0px 10px 13px -7px #5c5b5b, 5px 5px 10px 5px rgba(0, 0, 0, 0)
}

.result-text {
    width: 100%;
    text-shadow: 1px 1px black;
}

.fa-arrows-down-to-people {
    text-shadow: 1px 1px black;
}

.resultado-moda-text {
    width: 100%;
    text-shadow: 1px 1px black;
}

.result-mediana {
    margin-top: 12px;
    text-shadow: 1px 1px rgb(81, 80, 80);
}

.result-moda {
    margin-top: 12px;
    text-shadow: 1px 1px rgb(81, 80, 80);
}

.div-btn-reset{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

.btn-clean{
    margin-top:10px;
    margin-left:10px;
    padding-left:10px;
    padding-right:10px;
    border:3px transparent solid;
    color: white;
    background: rgb(211, 107, 107);
    font-size:0.9rem;
    width:75px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    -webkit-box-shadow: 4px 5px 7px -5px #4b4949;
    box-shadow: 4px 5px 7px -5px #4b4949;
}

.btn-clean:hover{
    background: rgb(229, 64, 64);
}

/*FOOTER*/

.container-footer{
    margin-top:35px;
    font-size:0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
}

.item-footer__title{
    font-size:1.3rem;
    color: var(--colorprimario);
    text-shadow: 1px 1px rgb(33, 33, 33);
}
.item-footer__title-r{
    font-size:1.3rem;
    color: var(--colorsecundario);
    text-shadow: 1px 1px rgb(33, 33, 33);
    margin:0;
}

.item-footer{
    display: flex;
    flex-direction: column;

}
.principal{
    margin:0;
}

.container-redes{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.item-redes{
    margin:20px;
}

.fa-brands{
    font-size:1.2rem;
    color: #8ee9cc;
    text-shadow: 2px 2px rgb(118, 118, 118);
}

.fa-linkedin:active{
    color: rgb(54, 121, 208);
}

.fa-facebook-square:active{
    color: rgb(54, 121, 208);
}

.fa-github-square:active{
    color: #5c5b5b;
}