* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

#body {
    background: #212121;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title__header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    background: rgb(15, 15, 15);
    background: linear-gradient(0deg, rgb(33, 33, 33) 36%, rgba(43, 186, 205, 1) 100%);
    color: rgb(93, 107, 110);
    text-shadow: 1px 2px 0 #303030, 1px 10px 3px #454545;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.nav__title {
    margin-top:2rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(38, 172, 190);
    color: rgb(38, 172, 190);
}

.nav__main {
    margin-top: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.item__link {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font: size 1.5rem;
    color: rgb(38, 172, 190);
    -webkit-box-shadow: 0px 4px 11px -4px rgb(38, 172, 190);
    box-shadow: 0px 4px 11px -4px rgb(38, 172, 190);
    width: 27%;

}

.item__link:hover {
    color:rgb(40, 41, 42);
    background-color: #197591;
    transition: background-color 1.7s ease;
    transition: color 3s ease;
    position: relative;
    bottom:10px;
}

.img__main {
    width: 70%;
}

.container__nav {
    margin-bottom:2rem;
    height:180px;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:500px;
    align-items: center;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.formulario {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height:100px;
}

.formulario-T{
    display: flex;
    justify-content: center;
    padding:0.2rem;
    height:100px;
}

.label_text {
    display: flex;
    align-items: center;
    width: 33.3%;
}

.label_text-T{
    display: flex;
    align-items: center;
    width:50%;
}

.tex {
    font-size:2rem;
    text-align: center;
    font-family: monospace;
    color: rgb(130, 128, 128);
}

.tex-T{
    font-size:1.5rem;
    text-align: center;
    font-family: monospace;
    color: rgb(130, 128, 128);
}

.input-lado {
    width: 70%;
    height:100%;
    border-radius: 1rem;
    border: 1px rgb(38, 172, 190) solid;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    background-color: #212121;
    color: rgb(38, 172, 190);
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.input-lado-T{
    margin-top:20px;
    width:30%;
    height:50%;
    border-radius: 1rem;
    border: 1px rgb(38, 172, 190) solid;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    background-color: #212121;
    color: rgb(38, 172, 190);
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.divicion-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;

}

.btn-form {
    text-align: center;
    width:80%;
    font-size:1rem;
    height: 60%;
    border-radius: 0.5rem;
    border: 2px rgb(38, 172, 190) solid;
    background-color: #1a1919;
    color: #bfbcbc;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.btn-form:hover {
    position: relative;
    top:5px;
    height:75%;
    background-color: #37c235;
    transition: background-color 1s ease;
    color: #1a1919;
    border: none;
}

.btn-form-T{
    margin-bottom: 1rem;
    text-align: center;
    width:100%;
    font-size:1rem;
    height:50px;
    border-radius: 0.5rem;
    border: 2px rgb(38, 172, 190) solid;
    background-color: #1a1919;
    color: #bfbcbc;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.btn-form-T:hover{
background-color: #37c235;
 transition: background-color 2s ease;
 border: none;   
}


.resultados {
    padding: 0;
}

.resultados__container {
    display: flex;
    flex-direction: column;
    margin-top:1rem;
    height:400px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.item__resultados {
    text-align: center;
    width:50vw;
    margin:2rem;
}

.item__resultado-parrafo {
    color: rgb(189, 194, 195);
    text-shadow: 4px 4px 4px rgb(38, 172, 190);
    font-size: 1.6rem;
}

.item__resultado-title {
    padding: 1.4rem;
    border: 1px rgb(38, 172, 190)solid;
    border-radius: 0.5rem;
    color: #a3a1a1;
}

.container-footer{
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top:2rem;
    color: #454545;
    margin-bottom:0px;
}

.img-footer{
    display:none;
}

.item__footer{
    font-size:1.4rem;
    text-align:center;
    justify-content: center;
    border-right: 2px rgb(47, 47, 47) solid;
}

.item-contact{
  display:none;
}

.container-items-redes-sociales{
    padding: 1rem;
}

.herramientas-desarrollo{
    margin-top: 1rem;
}

.sobremi{
    font-size:1.5rem;    
}

.container-about{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 1.2rem;
}

.item__resultado-diametro{
    display: none;
}

