* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

#body {
    background: #212121;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title__header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    background: rgb(15, 15, 15);
    background: linear-gradient(0deg, rgb(33, 33, 33) 36%, rgba(43, 186, 205, 1) 100%);
    color: rgb(93, 107, 110);
    text-shadow: 1px 2px 0 #303030, 1px 10px 3px #454545;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.nav__title {
    margin-top:2rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(38, 172, 190);
    color: rgb(38, 172, 190);
}

.nav__main {
    margin-top: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.item__link {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font: size 1.5rem;
    color: rgb(38, 172, 190);
    -webkit-box-shadow: 0px 4px 11px -4px rgb(38, 172, 190);
    box-shadow: 0px 4px 11px -4px rgb(38, 172, 190);
    width: 27%;

}

.item__link:hover {
    color: rgb(38, 172, 190);
    background-color: #969696;

}

.img__main {
    width: 70%;
}

.container__nav {
    margin-bottom:2rem;
    height:180px;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.main {
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.formulario {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100px;
}

.formulario-triangulo {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100px;
}

.label_text {
    display: flex;
    align-items: center;
    width: 33.3%;
}

.tex {
    text-align: center;
    color: rgb(222, 218, 218);
}

.input-lado {
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    border: 1px rgb(38, 172, 190) solid;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    background-color: #212121;
    color: rgb(38, 172, 190);
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.divicion-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;

}

.btn-form {
    text-align: center;
    width:80%;
    font-size:1rem;
    height: 60%;
    border-radius: 0.5rem;
    border: 2px rgb(38, 172, 190) solid;
    background-color: #1a1919;
    color: #bfbcbc;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
}

.btn-form:hover {
    background-color: #bfbcbc;
    color: #1a1919;
}

.resultados {
    padding: 0;
}

.resultados__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 22rem;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 11px -4px #000000;
    box-shadow: 0px 4px 11px -4px #000000;
    overflow: hidden;
}

.item__resultados {
    text-align: center;
    width: 80vw;
}

.item__resultado-parrafo {
    color: rgb(189, 194, 195);
    text-shadow: 4px 4px 4px rgb(38, 172, 190);
    font-size: 1.6rem;
}

.item__resultado-title {
    padding: 1.4rem;
    border: 1px rgb(38, 172, 190)solid;
    border-radius: 0.5rem;
    color: #a3a1a1;
}

.container-footer{
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top:2rem;
    color: #454545;
    margin-bottom:0px;
}

.img-footer{
    display:none;
}

.item__footer{
    font-size:1.4rem;
    text-align:center;
    justify-content: center;
    border-right: 2px rgb(47, 47, 47) solid;
}

.item-contact{
  display:none;
}